*.iml
.idea/
target/
assembly/dist/
logs
test.properties
project/project
tmp
dependency-reduced-pom.xml
target
dist
project/target
.history
release.properties
.idea
pom.xml.releaseBackup
.idea_modules
.settings
.DS_Store
